body {
    font-family: Arial, sans-serif;
    background-image: url('images/contact.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    animation: scaleImage 1s infinite;
}

@keyframes scaleImage {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.container {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 100px auto;
    max-width: 300px;
    text-align: center;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
