body {
    font-family: Arial, sans-serif;
    background-color: palegoldenrod;
 
}



.container {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 100px auto;
    max-width: 300px;
    text-align: left;
}

h1, h2 ,h3{
    color: #333;
    text-align: center;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

p {
    color: black;
    white-space: normal;;
    margin-bottom: 15px;
}
a {
    display: block; /* Makes the link a block-level element */
    text-align: center;
    background-color: #007bff; /* Customize the link's background color */
    color: #fff; /* Text color for the link */
    padding: 10px 20px;
    text-decoration: none; /* Remove the default underline */
    border-radius: 5px; /* Add rounded corners to the link */
    margin: 20px auto; /* Center the link horizontally */
    width: fit-content; /* Make the link width adjust to content */
}
